<%= form_for video, :html => {:class => "form-horizontal"} do |f| %>

  <div class="form-group">
    <%= f.label :url, class: "col-lg-3 control-label", for: "inputUrl" %>

    <div class="col-lg-6">
      <%= f.text_field :url, class: "form-control cancel-enter-key", id: "inputUrl", autofocus: true%>
    </div>

    <% if video.errors.any? %>
      <p class="help-block">
        <p class="text-danger">
          <%= video.errors.messages[:url][0] %>
        </p>
      </p>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :title, class: "col-lg-3 control-label", for: "inputTitle" %>

    <div class="col-lg-6">
      <%= f.text_field :title, class: "form-control cancel-enter-key", id: "inputTitle" %>
    </div>

    <% if video.errors.any? %>
      <p class="help-block">
        <p class="text-danger">
          <%= video.errors.messages[:title][0] %>
        </p>
      </p>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-lg-3 control-label", for: "inputDescription" %>

    <div class="col-lg-6">
      <%= f.text_area :description, class: "form-control", id: "inputDescription", rows: "10" %>
    </div>

    <% if video.errors.any? %>
      <p class="help-block">
        <p class="text-danger">
          <%= video.errors.messages[:description][0] %>
        </p>
      </p>
    <% end %>
  </div>

  <div class="form-group hidden">
    <%= f.label :duration, class: "col-lg-3 control-label", for: "inputDuration" %>

    <div class="col-lg-6">
      <%= f.text_field :duration, class: "form-control", id: "inputDuration" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-6">
      <%= f.submit yield(:submit_button) || "Add video", class: "btn btn-primary" %>
      <%= link_to "cancel", video.id.nil? ? videos_path : video_path(video), class: "btn btn-default" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Preview", class: "col-lg-3 control-label", for: "preview" %>

    <div class="col-lg-6" id="preview"></div>
  </div>

<% end %>
