<% provide(:title, "Video") %>

<div class="row">
  <div class="col-lg-10 col-md-10 col-xs-12">
    <p class="video-title">
      <%= get_title(@video) %>
    </p>
  </div>

  <div class="col-lg-2 col-md-2 col-xs-6 col-xs-offset-6">
    <% unless current_user?(@user) %>
      <span id="video_like_count">
        <%= pluralize(@video.likes.count, 'like') %>
      </span>
      <div id="video_like_form">
        <% if !current_user.video_like?(@video) %>
          <%= render 'like' %>
        <% else %>
          <%= render 'dislike' %>
        <% end %>
      </div>
    <% end %>

    <% if current_user && current_user.id == @video.user_id %>
      <%= link_to "Edit", edit_video_path(@video), class: "btn btn-default" %>
      <%= link_to "Delete", @video, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-9 col-md-9 col-xs-12">
    <div class="video-player">
      <iframe src="<%= get_player(@video) %>" class="player"></iframe>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="markdown col-lg-12 col-md-12 col-xs-12">
<%= @video.description %>
  </div>
</div>
