<% provide(:title, "Forgot password") %>

<h1>Forgot your password?</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: "col-lg-4 control-label", for: "inputEmail" %>

    <div class="col-lg-4">
      <%= f.email_field :email, class: "form-control", id: "inputEmail", :autofocus => true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-4 col-lg-6">
      <%= f.submit 'Send me reset password instructions', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<div class="col-lg-offset-4 col-lg-6">
  <%= render "users/shared/links" %>
</div>
