<li class="media">
  <div class="col-lg-3 pull-right">
    <p class="timestamp">
      Submitted <%= simple_time(playlist.created_at.localtime) %>
    </p>
    <p>
      <%= gravatar_for(get_user(playlist.user_id), { size: 25 }) %>
      <%= get_user(playlist.user_id).name %>
    </p>
  </div>

  <div class="media-body">
    <h4 class="title"><%= link_to get_title(playlist), playlist %></h4>

    <% if playlist && playlist.description.length > 0 %>
      <p class="description"><%= playlist.description %></p>
    <% end %>

    <div>
      <%= pluralize(playlist.contained_videos.count, 'video') %>
    </div>
  </div>
</li>
