<% provide(:title, "Playlist") %>

<div class="row">
  <div class="col-lg-10 col-md-10 col-xs-12">
    <p class="playlist-title">
      <%= get_title(@playlist) %>
    </p>
  </div>

  <div class="col-lg-2 col-md-2 col-xs-6 col-xs-offset-6">
    <% if current_user && current_user.id == @playlist.user_id %>
      <%= link_to "Edit", edit_playlist_path(@playlist), class: "btn btn-default" %>
      <%= link_to "Delete", @playlist, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>

<br class="visible-xs">

<div class="row">
  <div class="markdown col-lg-12 col-md-12 col-xs-12">
<%= @playlist.description %>
  </div>
</div>

<ul class="videos">
  <%= render @videos %>
</ul>
